---
home: home
layout: default
---


<div class="columns-container">

  	  	<div class="left-column">


{% for post in paginator.posts %}
<div class="post-outer">
   <article class="post ">
      <div class="post-info2">
         <span class="label-info">
		   {% for tag in post.tags %}
		   
         <a href="{{site.url}}/tags/{{ tag }}" rel="tag">{{ tag }}</a>
		 
		   {% endfor %}

		 
         </span>
      </div>
      <h2 class="post-title ">
         <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
         {{ post.title }}
         </a>
      </h2>
      <a href="{{ site.baseurl }}{{ post.url }}">
         <div class="post-image fade-in one">
            <span class="overlay"></span>
        <amp-img width="300" height="200" src="https://2.bp.blogspot.com/-0uSTnSOTFjs/V8F-21x4KeI/AAAAAAAACU0/2XosiHKfvTImJBWrC4mwAeERwFzQALaHQCLcB/w300-h200-c/legs-434918_960_720.jpg" alt="{{ post.title }}" title="{{ post.title }}">
         </div>
      </a>
      <div class="post-body" >
         <div >
            <div class="snippets"> {{ post.excerpt | strip_html | truncatewords: 50 }} ...</div>
         </div>
      </div>
      <div class="share-post">
         <a class="readmore2" href="{{ site.baseurl }}{{ post.url }}#more" title="{{ post.title }}"> Continue Reading <i class="fa fa-long-arrow-right"></i></a>
      </div>
   </article>
</div>

    {% endfor %}
	
	
  

    

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
    {% else %}
      <a class="newer-posts disabled">&larr; Older posts</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">Newer posts &rarr;</a>
    {% endif %}
  </nav>
</div>
	
	
	  	<div class="right-column">
	
<div class="adsense_bottom_post">   
<!-- AdhySuryadiPostBottom -->
     <amp-ad height="280"
      type="adsense"
      layout="fixed-height"
      data-ad-client="ca-pub-3597723085513015"
      data-ad-slot="9327053005">
 </amp-ad>
</div>

  	</div>	
	
	
	
	
  </div>


