---
home: home
layout: default
---


<div id="outer-wrapper">
<div class="bwrapsite-content" id="bwrapcontent">

<div class="clear"></div>
<div class="content-area" id="primarybwrap">
<div class="bwrapsite-main" id="mainbwrap" role="main">
<div class="mainblogsec section" id="mainblogsec">

<div class="widget Blog" data-version="1" id="Blog1">
<div class="blog-posts hfeed">
<!--Can't find substitution for tag [defaultAdStart]-->

          <div class="date-outer">
        

          <div class="date-posts">
 		
{% for post in paginator.posts %}
	  {% assign loopindex = forloop.index | modulo: 2 %}
	
<div class="post-outer">

  {% if loopindex == 1 %}

<article class="post ">
  {% else %}
<article class="post odd">

  {% endif %}
<a content="https://1.bp.blogspot.com/-I_goLEJoV-I/WJ4diBTY--I/AAAAAAAAChQ/I_nRlSbPYpUlKZVuMGHzOraiZna5cT6wACK4B/s1600/facebook-reactions-760x400.jpg"></a>
<div class="format-image hentry post-image post-format-image">
<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
<img alt="{{ post.title }}" itemprop="image" src="https://1.bp.blogspot.com/-I_goLEJoV-I/WJ4diBTY--I/AAAAAAAAChQ/I_nRlSbPYpUlKZVuMGHzOraiZna5cT6wACK4B/s1600/facebook-reactions-760x400.jpg" style="width:100%; height:210px" title="{{ post.title }}">
</a>
</div>
<div class="clearboth"></div>
<div class="postdata">
<span class="label-info">

		   {% for tag in post.tags %}

<a class="label-info" href="{{site.url}}/tags/{{ tag }}" rel="tag">{{ tag }}</a>
		   {% endfor %}

</span>
<h2 class="post-title entry-title">
<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
{{ post.title }}
</a>
</h2>
<div class="clearboth"></div>
</div>
<div class="post-body ">
<div class="snippets">
 {{ post.excerpt | strip_html | truncatewords: 20 }} ...

</div>

</div>
<div class="clearboth"></div>

</article>
</div>


		   {% endfor %}




            </div>
			
			</div>
          


<!--Can't find substitution for tag [adEnd]-->
</div>
<div class="clearboth"></div>




<div class="blog-pager" id="blog-pager">
<span class="showpageOf">Page 1 of 2</span><span class="showpagePoint">1</span>
<span class="showpageNum"><a href="#" onclick="redirectpage(2);return false">2</a></span>
<span class="showpageNum"><a href="#" onclick="redirectpage(2);return false">Next »</a></span>
</div>








<div class="clear"></div>
</div></div>
</div>
</div>
<div id="sidebar-wrapper" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
<div class="sidebar-area" id="sidebar" role="complementary">
<div class="sidebarbtop section" id="sidebarbtop">



<div class="widget Label" data-version="1" id="Label2">
<h2>Labels Cloud</h2>
<div class="widget-content cloud-label-widget-content">
<span class="label-size ">
<a dir="ltr" href="https://smoothgrid-templatemark.blogspot.sg/search/label/Advertisement">Advertisement</a>
</span>

<div class="clear"></div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<div class="clear"></div>



