<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://example.com/books",
      "name": "Books",
      "image": "http://example.com/images/icon-book.png"
    }
  }
        {% assign position = 1 %}
  
  
  
  


  
  
  {% for tag in page.tags %}

    {% assign position =  position | plus: 1 %}

  
  
  
  ,{
    "@type": "ListItem",
    "position": {{position}},
    "item": {
      "@id": "https://example.com/books/authors",
      "name": "{{ tag }}",
      "image": "http://example.com/images/icon-author.png"
    }
  }
  
  
  {% endfor %}
  
  
  
  
  
  
  
  
  
  ]
}
</script>
