<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{site.url}}",
      "name": "home",
      "image": "{{site.url}}/assets/images/logo.jpg"
    }
  }
        {% assign position = 1 %}
  
  
  
  


  
  
  {% for tag in page.tags %}

    {% assign position =  position | plus: 1 %}

  
  
  
  ,{
    "@type": "ListItem",
    "position": {{position}},
    "item": {
      "@id": "{{site.url}}books/tags/{{ tag }}",
      "name": "{{ tag }}",
      "image": "{{site.url}}/assets/images/logo.jpg"
    }
  }
  
  
  {% endfor %}
  
  
  
  
  
  
  
  
  
  ]
}
</script>
