<footer  id="footer-wrapper" >
<div class="footer-bottom">
<div id="footer-widgetfix">
<div class="footer-widget" id="footx1">
<div class="footer section" id="footer1"><div class="widget HTML" data-version="1" id="HTML5">
<h2 class="title">{{ site.title }}</h2>
<div class="widget-content">
{{ site.description }}
</div>
</div></div>
</div>
<div class="footer-widget" id="footx2">
<div class="footer section" id="footer2"><div class="widget Label" data-version="1" id="Label3">
<p>Popular Tags</p>
<div class="widget-content cloud-label-widget-content">


{% assign tags = site.tags | sort %}
{% for tag in tags %}
<span class="label-size">

 <a href="/tag/{{ tag | first | slugify }}/">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>


</span>
{% endfor %}

<div class="clear"></div>
</div>
</div></div>
</div>
<div class="footer-widget" id="footx3">
<div class="footer section" id="footer3">

<div class="widget LinkList" data-version="1" id="LinkList2">
<p>Site Links</p>
<div class="widget-content">
<ul>
<li><a href="/contact_us.html" rel="nofollow" >Report a Problem</a></li>
<li><a href="/contact_us.html" rel="nofollow" >Contact us</a></li>
<li><a href="/privacy-policy.html" rel="nofollow" >Privacy</a></li>
<li><a href="/terms-of-service.html" rel="nofollow" >Terms &amp; Condition</a></li>
<li><a href="/about" rel="nofollow" >About us</a></li>
<li><a href="/sitemap-html">Sitemap</a></li>
</ul>
</div>
</div><div class="widget HTML" data-version="1" id="HTML1">
<div class="widget-content">
<div class="top-navigation-right">
<div class="top-social-wrapper">
<div class="social-icon"><a href="#" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a></div>
<div class="social-icon"><a href="#" target="_blank"><i class="fa fa-google"></i></a></div>
<div class="social-icon"><a href="#" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a></div>
<div class="social-icon"><a href="#" rel="nofollow" target="_blank"><i class="fa fa-youtube-play"></i></a></div>
<div class="social-icon"><a href="#" rel="nofollow" target="_blank"><i class="fa fa-pinterest-square"></i></a></div>
<div class="clear">					
</div>
</div></div>
</div>

<div class="clear"></div>
</div></div>
</div>
</div>
</div>
<div id="footerfix">
<div class="copyleft">
Copyright © {{ 'now' | date: "%Y" }}
<a href="{{ site.url }}">{{ site.title }}</a> All Rights Reserved
</div>
</div>
</footer>
