  {% if page.home %}

<script type="application/ld+json">[
    {  
        "@context":"https://schema.org",
        "@type":"WPHeader",
        "@id":"{{site.url}}/#header_website",
        "image": {
        	"@type": "imageObject",
            "@id": "header_website_picture",
            "url": "{{site.site_image}}",
            "height": "400",
            "width": "400"
        }
    },
    {  
        "@context":"https://schema.org",
        "@type":"WPSideBar",
        "@id":"{{site.url}}/#sidebar_left"
    },
    {  
        "@context":"https://schema.org",
        "@type":"WPSideBar",
        "@id":"{{site.url}}/#sidebar_right"
    },
    {  
        "@context":"https://schema.org",
        "@type":"WPFooter",
        "@id":"{{site.url}}/#footer_website"
    }
]</script>
<script type="application/ld+json">{
    "@context":"http://www.schema.org",
    "@type":"WebSite",
    "hasPart":[  
        {  
            "@type":"WPHeader",
            "@id":"{{site.url}}/#header_website"
        },
        {  
            "@type":"WPSideBar",
            "@id":"{{site.url}}/#sidebar_left"
        },
        {  
            "@type":"WPSideBar",
            "@id":"{{site.url}}/#sidebar_right"
        },
        {  
            "@type":"WPFooter",
            "@id":"{{site.url}}/#footer_website"
        }
    ],
    "Publisher":{  
        "@type":"Organization",
        "@id": "{{site.url}}#organization"
    },
    "Author":{  
        "@type":"person",
        "@id": "{{site.url}}/about_us"
    },
    "editor":{  
        "@type":"person",
        "@id": "{{site.url}}/about_us"
    },
    "image":[
	    {  
	        "@type":"imageObject",
	        "url":"{{site.site_image}}",
	        "height":"400",
	        "width":"400",
	        "isFamilyFriendly":"yes"
	    }
	],
    "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.google.com/search?q={search_term}&as_sitesearch={{site.url}}",
        "query-input": "required name=search_term"
    },
    "copyrightYear":"{{ 'now' | date: "%Y" }}",
    "datePublished":"August 27, 2009",
    "isBasedOnUrl":"https://schema.org",
    "name":"{{site.title}}",
    "inLanguage":"{{site.lang}}",
    "isFamilyFriendly":"yes",
	
    "keywords":"{{site.title}} {% for keyword in site.keywords %} ,{{ tag }} {% endfor %}",
    "url":"{{site.url}}/",
    "description":"{{site.description}}"
	}
}</script>
<script type="application/ld+json">{
    "@context":"http://www.schema.org",  
        "@type":"Organization",
        "@id": "{{site.url}}#organization",
        "name":"{{site.title}}",
        "url":"{{site.url}}",
        "email": "{{site.email}}",
        "numberOfEmployees": "1",
        "employee":{
        	"@type": "Person",
            "@id": "{{site.url}}/about_us"
         },
         "founder":{
        	"@type": "Person",
            "@id": "{{site.url}}/about_us"
         },
        "logo":{  
            "@type":"ImageObject",
            "url":"{{site.logo}}",
            "width":"60",
            "height":"60"
        },
        "image":{  
            "@type":"ImageObject",
            "url":"{{site.site_image}}",
            "width":"400",
            "height":"400"
        },
        "description":"{{site.description}}",
        "sameAs": [
        	"https://www.facebook.com/{{site.facebook_profile}}",
        	"https://plus.google.com/+{{site.google_plus}}",
            "https://twitter.com/{{site.google_plus}}",
            "https://github.com/{{site.github}}",
            "https://www.pinterest.com/{{site.pinterest}}/",
            "https://{{site.tumblr}}.tumblr.com/"
        ]
}</script>







  {% else %}

<script type="application/ld+json">[
    {  
        "@context":"https://schema.org",
        "@type":"WPHeader",
        "@id":"{{page.permalink}}#header_website",
        "image": {
        	"@type": "imageObject",
            "@id": "{{page.permalink}}#header_website_picture",
            "url": "{{site.site_image}}",
            "height": "400",
            "width": "400"
        }
    },
    {  
        "@context":"https://schema.org",
        "@type":"WPSideBar",
        "@id":"{{page.permalink}}#sidebar_left"
    },
    {  
        "@context":"https://schema.org",
        "@type":"WPSideBar",
        "@id":"{{page.permalink}}#sidebar_right"
    },
    {  
        "@context":"https://schema.org",
        "@type":"WPFooter",
        "@id":"{{page.permalink}}#footer_website"
    }
]</script>

<script type="application/ld+json">{
    "@context":"http://www.schema.org",
    "@type":"WebPage",
    "hasPart":[  
        {  
            "@type":"WPHeader",
            "@id":"{{page.permalink}}#header_website"
        },
        {  
            "@type":"WPSideBar",
            "@id":"{{page.permalink}}#sidebar_left"
        },
        {  
            "@type":"WPSideBar",
            "@id":"{{page.permalink}}#sidebar_right"
        },
        {  
            "@type":"WPFooter",
            "@id":"{{page.permalink}}#footer_website"
        }
    ],
    "Publisher":{  
        "@type":"Organization",
        "@id": "{{site.url}}#organization",
        "name":"{{site.title}}",
        "url":"{{site.url}}"
    },
    "Author":{  
        "@type":"person",
        "name":"{{site.author}}"
		},
    "image":[
	    {  
	        "@type":"imageObject",
	        "url":"{{page.image}}",
	        "height":"630",
	        "width":"1200",
	        "isFamilyFriendly":"yes"
	    },
	    {  
	        "@type":"imageObject",
	        "url":"{{page.image}}",
	        "height":"220",
	        "width":"440",
	        "isFamilyFriendly":"yes"
	    },
	    {  
	        "@type":"imageObject",
	        "url":"{{page.image}}",
	        "height":"150",
	        "width":"150",
	        "isFamilyFriendly":"yes"
	    }
	],
    "breadcrumb":{  
        "@type":"BreadcrumbList",
        "itemListElement":[  



{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{site.url}}",
      "name": "home",
      "image": "{{site.url}}/assets/images/logo.jpg"
    }
  }
        {% assign position = 1 %}
  
  
  
  
  
  
  {% for tag in page.tags %}
    {% assign position =  position | plus: 1 %}
  
  
  
  ,{
    "@type": "ListItem",
    "position": {{position}},
    "item": {
      "@id": "{{site.url}}books/tags/{{ tag }}",
      "name": "{{ tag }}",
      "image": "{{site.url}}/assets/images/logo.jpg"
    }
  }
  
  
  {% endfor %}





        ]
    },
    "mainEntity":{  
        "@type":"TechArticle",
        "@id": "{{page.permalink}}#main_content"
      },
    "isBasedOnUrl":"https://schema.org/Article",
    "datePublished":"{{ page.date }}",
    "dateModified":"{{ page.date }}",
    "name":"{{page.pagetitle}}",
    "inLanguage":"{{site.lang}}",
    "isFamilyFriendly":"yes",
    "keywords":" {{site.title}} {% for tag in page.tags %} ,{{ tag }} {% endfor %}",
    "url":"{{page.permalink}}",
    "description":"{{page.description}}"
    }
}</script>



  {% endif %}
