{% assign wordcount = include.content | number_of_words %}

<script type="application/ld+json">
{  
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "headline":"{{ include.headline }}",
   "genre":"{{ include.category }}",
   "keywords":"{{ include.keywords }}",
   "wordCount":"{{ wordcount }}",
   "url":"{{ site.author }}{{ include.link }}",
   "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
   "author":{  
      "@type":"Person",
      "name":"{{ site.author }}",
      "sameAs":[  
      "https://twitter.com/{{ site.author }}",
        "https://plus.google.com/u/0/+{{ site.google_plus  }}"
      ]
   },
   "publisher":{  
      "@type":"Organization",
      "name":"{{ site.author }}",
      "sameAs":[  
        "https://twitter.com/{{ site.author }}",
        "https://plus.google.com/u/0/+{{ site.google_plus  }}"
      ],
      "logo": {
  		"@type": "ImageObject",
  		"contentUrl": "{{ site.author_image }}",
  		  "url": "{{ site.author }}"
    }
   },
   "image":{  
      "@type":"ImageObject",
      "contentUrl":"{{ site.google_plus  }}",
      "url":"{{ include.bg}}",
      "height":"450",
      "width":"1000"
   },
   "mainEntityOfPage":{  
      "@type":"WebPage",
      "@id":"{{ site.google_plus  }}{{ include.link }}"
   },
   "articleBody":"{{ include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
}
</script>
